@import "_mixins.scss";
@import "vars.scss";
.about-us{
    width: 68%;
    margin: 0 auto;
    margin-bottom: 9.8%;
    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $main-font-color;
        align-items: center;
        margin-bottom: 20px;
    }
    &__title{
        @include h1-h2-font;
    }
    &__text{
        color: #6F8793;
        @include font-500;
    }
    &__video{
        max-width: 100%;
        height: auto;
        cursor: pointer;
        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
        }
}