@import "mixins.scss";
@import "vars.scss";

.consultation-pricing {
    @include margin-lateral-1920; 
    margin-bottom: 100px; 

    &__title { 
        @include h1-h2-font; 
        color: $main-font-color; 
        margin: 10px 0; 
        padding-bottom: 12%; 
    } 

    &__items { 
        display: grid; 
        position: relative; 
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
        gap: 30px; 
        justify-items: center; 
    } 

    &__item-subtitle { 
        @include h3-font; 
        text-align: center; 
        margin-top: 20px; 
        margin-bottom: 10px; 
        color: $main-font-color; 
    } 

    &__item-list { 
        @include text-18px-font; 
        color: $main-font-color; 
        margin-top: 30px; 
    } 

    li { 
        display: grid; 
        grid-template-columns: auto 1fr; 
        line-height: 25.2px; 
        margin: 20px 10px; 
        gap: 10px; 
    } 

    &__image { 
        top: -50%; // Центруем по вертикали 
        left: 50%; // Центруем по горизонтали 
        transform: translate(0%, -80%); 
        display: block; 
        margin: 30px auto; 
        z-index: 1; 
    } 

    &__item--1, 
    &__item--2, 
    &__item--3 { 
        display: grid; 
        z-index: 0; 
        position: relative; 
        gap: 10px; 
        grid-template-rows: min-content 1fr 1fr; 
        max-width: 420px; 
        height: 679px; 
        padding: 15px; 
        background-color: white; 
        transition: box-shadow 0.3s ease; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); 

        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}
// кнопки
    .consultation-pricing__item-cost-button{
        justify-items: center;
        gap: 20px;
        .consultation-pricing__item-cost{
            @include h3-font;
            color: $main-font-color;
        }
        .consultation-pricing__item-order-button{
            width: 340px;
            height: 65px;
            background-color: white;
            border: 3px solid $accent-blue;
            color: $accent-blue;
            @include font-500;
            font-size: 1.25rem;
            cursor: pointer;

            &:hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
        }
    }
// точки
.consultation-pricing__items::before{
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: -60px;
    z-index: -1;
    background-image: url(../../images/dots-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.consultation-pricing__items::after{
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: -1;
    background-image: url(../../images/dots-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
// адаптив
@media screen and (max-width: 1440px){
    .consultation-pricing{
        @include margin-lateral-1440;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 1024px) {
    .consultation-pricing{
        @include margin-lateral-1024;
        width: 100%;
        margin-bottom: 100px;
        &__items{
            width: 90%;
        }
        &__item--1,
        &__item--2,
        &__item--3{
            max-width: none;
            width: 100%
        }
    }
}

@media screen and (max-width: 890px){
    .consultation-pricing{
        width: 100%;
        @include margin-lateral-1024;
        margin-bottom: 100px;
        &__items{
            grid-template-columns: 1fr;
            width: 92%;
            width: 90%;
            gap: 20px;
            &::after{
                content: "";
                width: 120px;
                height: 120px;
                position: absolute;
                top:  745px;
                left: -60px;
                z-index: -1;
                background-image: url(../../images/dots-square.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &::before{
                content: "";
                width: 120px;
                height: 120px;
                position: absolute;
                left: 740px;
                bottom: 600px;
                z-index: -1;
                background-image: url(../../images/dots-square.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &__item--1,
        &__item--2,
        &__item--3{
            max-width: none;
            width: 100%;
            display: flex; // Используем flex для размещения содержимого
    flex-direction: column; // Устанавливаем вертикальное направление
    justify-content: flex-start;
        }
        &__item--1{
            height: 550px;
            position: relative;
            margin-top:  18%;
            overflow: visible;
            img{
                top: 50%; // Центруем по вертикали
                left: 50%; // Центруем по горизонтали
                transform: translate(0%, -65%);
                vertical-align: top;
            }
        }
        &__item--2{
            height: 573px;
            margin-top: 100px;
        }
        &__item--3{
            height: 673px;
            margin-top: 100px;
        }
        &__item-cost-button{
            margin-bottom: 15px;
        }
        li{
            margin: 15px 10px;
        }
        }
    }


@media screen and (max-width:768px) {
    .consultation-pricing{
        width: 100%;
        @include margin-lateral-768;
        margin-bottom: 100px;
        &__items{
            width: 94.8%;
        }
}
}
