@import "mixins.scss";
@import "vars.scss";

.consultation-pricing{
    margin: 0 16%;
    margin-bottom: 9.8%;
    &__title{
        @include h1-h2-font;
        color: $main-font-color;
        margin: 10px 0;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
        gap: 20px;
        justify-items: center;
    }
}
// карточка первая
    .consultation-pricing__item--1{
        display: grid;
        grid-template-rows: 1fr auto 3fr 1fr;
        max-width: 420px;
        height: 780px;
        padding: 15px;
        background-color: white;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
        .consultation-pricing__item-subtitle{
            @include h3-font;
            text-align: center;
            margin-top: 10px;
            color: $main-font-color;
        }
        .consultation-pricing__item-list{
            font-size: 18px;
        }
        img{
            display: block;
            margin: 0 auto;
        }
        li{
            @include font-500;    
            line-height: 25.2px;
            margin: 10px 10px;
            gap: 10px;
            color: $main-font-color;
            }
    }
    .consultation-pricing__item-cost-button{
        justify-items: center;
        gap: 20px;
        .consultation-pricing__item-cost{
            @include h3-font;
            color: $main-font-color;
        }
        .consultation-pricing__item-order-button{
            width: 340px;
            height: 65px;
            background-color: white;
            border: 3px solid $accent-blue;
            color: $accent-blue;
            @include font-500;
            cursor: pointer;

            &:hover{
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            }
        }
    }
    li{
        display: grid;
        grid-template-columns: auto 1fr;
    }
// карточка вторая
.consultation-pricing__item--2{
    display: grid;
    grid-template-rows: 1fr auto 3fr 1fr;
    max-width: 420px;
    height: 780px;
    padding: 15px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    &:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    .consultation-pricing__item-subtitle{
        @include h3-font;
        text-align: center;
        margin-top: 10px;
        color: $main-font-color;
    }
    .consultation-pricing__item-list{
        font-size: 18px;
    }
    img{
        display: block;
        margin: 0 auto;
    }
    li{
        @include font-500;     
        line-height: 25.2px;
        margin: 10px 10px;
        gap: 10px;
        color: $main-font-color;
        }
}
.consultation-pricing__item-cost-button{
    justify-items: center;
    gap: 20px;
    .consultation-pricing__item-cost{
        @include h3-font;
        color: $main-font-color;
    }
    .consultation-pricing__item-order-button{
        width: 340px;
        height: 65px;
        background-color: white;
        border: 3px solid $accent-blue;
        color: $accent-blue;
        @include font-500;
        cursor: pointer;

        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
    }
}
// карточка третья
.consultation-pricing__item--3{
    display: grid;
    grid-template-rows: 1fr auto 3fr 1fr;
    max-width: 420px;
    height: 780px;
    padding: 15px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    &:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    .consultation-pricing__item-subtitle{
        @include h3-font;
        text-align: center;
        margin-top: 10px;
        color: $main-font-color;
    }
    .consultation-pricing__item-list{
        font-size: 18px;
    }
    img{
        display: block;
        margin: 0 auto;
    }
    li{
        @include font-500;       
        line-height: 25.2px;
        margin: 10px 10px;
        gap: 10px;
        color: $main-font-color;
        }
}
.consultation-pricing__item-cost-button{
    justify-items: center;
    gap: 20px;
    .consultation-pricing__item-cost{
        @include h3-font;
        color: $main-font-color;
    }
    .consultation-pricing__item-order-button{
        width: 340px;
        height: 65px;
        background-color: white;
        border: 3px solid $accent-blue;
        color: $accent-blue;
        @include font-500;
        cursor: pointer;

        &:hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
    }
}