.footer {
  min-height: 368px;
  background-color: $main-font-color;

  //main font styles for the whole footer
  &__subtitle {
    @include h3-font;
    font-size: 17px;
    color: #78909c;
  }

  &__text {
    @include font-500;
    color: #78909c;
    font-size: 13px;
  }

  &__link {
    color: inherit;
  }

  //  first line of footer (before devider) styles
  &__container {
    @include margin-lateral-1920;
    padding-top: 49px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 56px 19px;
  }

  &__contact,
  &__social,
  &__subscribe-form-btn-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 16px;
  }

  // subscribe block in container
  &__subscribe {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 19px;
  }

  &__subscribe-title,
  &__contact-title {
    margin-bottom: 4px;
  }

  &__subscribe-form-btn-container {
    grid-template-rows: auto;
  }

  &__subscribe-input {
    padding: 8px 16px;
    width: 352px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid $accent-blue;
    background-color: $main-font-color;
    font-size: 15px;
    line-height: 213.333%;
    cursor: pointer;
  }

  &__button {
    width: 352px;
    height: 40px;
    padding: 13px 16px 11px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 145.45%;
    letter-spacing: 2.75px;
  }

  &__subscribe-text {
    max-width: 320px;
  }

  &__subscribe-link {
    text-decoration: underline;
  }

  // contact block in container
  &__contact-text {
    max-width: 403px;
    color: #ffffff;
    font-size: 15px;
  }

  //create a horizontal blue line under the link in contact-container
  &__contact-email {
    position: relative;
  }
  &__contact-email::after {
    content: "";
    position: absolute;
    width: 172px;
    height: 1px;
    bottom: 0px;
    left: 0px;
    background-color: $accent-blue;
    background-repeat: no-repeat;
    background-size: contain;
  }

  //   social block in container
  &__social {
    padding-bottom: 20px;
    justify-self: end;
  }

  // divider and second line footer styles
  &__info {
    @include margin-lateral-1920;
  }

  &__divider-container {
    svg {
      width: 100%;
      height: 1px;
    }
  }

  &__info-links {
    padding-top: 27px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }

  &__info-user-agrem {
    text-decoration: underline;
  }
}

// media requests
// начиная с 1608px social переносится на следующую строку
@media screen and (max-width: 1608px) {
  .footer {
    &__container {
      padding-top: 51px;
    }
    &__social {
      justify-self: start;
    }

    &__contact {
      align-self: center;
    }

    &__info-links {
      padding-top: 49.5px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer {
    &__container {
      padding-top: 53px;
      grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    }

    &__container,
    &__info {
      @include margin-lateral-1440;
    }

    &__info-links {
      padding-top: 72px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    &__container {
      padding-top: 55px;
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }

    &__container,
    &__info {
      @include margin-lateral-1024;
    }

    &__info-links {
      padding-top: 94.5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__container {
      padding-top: 57px;
    }

    &__container,
    &__info {
      @include margin-lateral-768;
    }

    &__info-links {
      padding-top: 117px;
    }

    &__info-user-agrem {
      display: none;
    }
  }
}

@media screen and (max-width: 440px) {
  .footer {
    &__container {
      padding-top: 55px;
      //   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-template-columns: 320px;
    }
    &__info-links {
      padding-top: 96px;
    }

    &__subscribe-input {
      padding: 8px 14.55px;
      width: 320px;
    }

    &__button {
      padding: 13px 14.55px 11px;
      width: 320px;
    }
  }
}

@media screen and (max-width: 360px) {
  .footer {
    &__info-links {
      padding-top: 75px;
    }
  }
}
