.header {
  width: 100%;

  &__first-line,
  &__second-line,
  &__banner {
    margin: 0 16%;
    // min-width: 900px;
    display: grid;
  }

  &__first-line {
    padding: 20px 0 5px;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    gap: 55px;
  }

  &__nav1-list {
    display: grid;
    grid-template-columns: 9fr 9fr 1fr;
    gap: 10px;
    justify-items: end;

    li:first-child {
      justify-self: start;
    }
  }

  &__nav1-list-item-link {
    @include header-nav-font;
  }

  .icon-social {
    justify-self: end;
    display: flex;
    gap: 10px;

    &__item-link {
      display: block;
      width: 100%;
      height: auto;
    }

    &__icon {
      margin: auto;
    }
  }

  &__second-line {
    margin-bottom: 40px;
    padding: 20px 0;
    grid-template-columns: 1fr 3fr;
    gap: 49px;
  }

  &__nav2-list {
    // display: grid;
    // grid-template-columns: repeat(5, auto);
    // justify-items: end;
    // gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px 49px;
  }

  &__nav2-list-item-link {
    text-transform: uppercase;
    @include header-nav-font;
  }

  &__banner {
    margin-bottom: 5.2%;
    position: relative;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1.7fr 1.3fr;
    grid-template-areas: "title pic" "text pic" "button pic";
    gap: 10px;
  }

  &__banner::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -60px;
    right: -20px;
    bottom: -20px;
    background-image: url("../images/map/map-dots.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
  }

  &__banner-title {
    grid-area: title;
    align-self: end;
    margin: 0;
    @include h1-h2-font;
  }

  &__banner-title_orange-italics {
    color: $accent-orange;
    font-style: italic;
    font-weight: 800;
  }

  &__banner-text {
    grid-area: text;
    width: 70%;
    align-self: center;
    font-size: 24px;
    @include font-600;
    color: $main-font-color;
  }

  &__banner-btn {
    grid-area: button;
    position: relative;
  }

  &__banner-btn::before {
    content: url("../images/header-pics/flags.svg");
    position: absolute;
    right: -45%;
    max-width: 120px;
  }

  &__banner-img-container {
    grid-area: pic;
    align-self: center;
    width: 107.4%;
    margin-left: -8%;
  }

  &__banner-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

// @media screen and (max-width: 768px){  }
