.header {
  width: 100%;

  &__first-line,
  &__second-line,
  &__banner {
    width: 71%;
    margin: 0 16.2% 0 13.8%;
    // min-width: 900px;
    display: grid;
  }

  &__first-line {
    padding: 20px 0 5px 3%;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    gap: 55px;
  }

  &__nav1-list {
    display: grid;
    grid-template-columns: 9fr 9fr 1fr;
    gap: 10px;
    justify-items: end;

    li:first-child {
      justify-self: start;
    }
  }

  &__nav1-list-item-link {
    @include header-nav-font;
  }

  .icon-social {
    justify-self: end;
    display: flex;
    gap: 10px;

    &__item-link {
      display: block;
      width: 100%;
      height: auto;
    }

    &__icon {
      margin: auto;
    }
  }

  &__second-line {
    margin-bottom: 40px;
    padding: 20px 0 0 3%;
    grid-template-columns: 1fr minmax(600px, 1.5fr);
  }

  &__nav2-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: end;
    gap: 10px;
  }

  &__nav2-list-item-link {
    text-transform: uppercase;
    @include header-nav-font;
  }

  &__banner {
    margin-bottom: 5.2%;
    padding-left: 3%;
    // grid-template-rows: 0.85fr 0.4fr 0.6fr;
    grid-template-rows: 1fr 0.5fr 0.6fr;
    grid-template-columns: 1.7fr 1.3fr;
    grid-template-areas: "title pic" "text pic" "button pic";
    gap: 10px 10px;
    background-image: url(../images/header-pics/dots.svg);
    background-repeat: no-repeat;
  }

  &__banner-title {
    grid-area: title;
    align-self: end;
    margin: 0;
    @include h1-h2-font;
  }

  &__banner-title_orange-italics {
    color: $accent-orange;
    font-style: italic;
    font-weight: 800;
  }

  &__banner-text {
    grid-area: text;
    width: 70%;
    align-self: center;
    font-size: 24px;
    @include font-600;
    color: $main-font-color;
  }

  &__banner-btn {
    grid-area: button;
    position: relative;
  }

  &__banner-btn::before {
    content: url("../images/header-pics/flags.svg");
    position: absolute;
    right: -45%;
    max-width: 120px;
  }

  &__banner-img-container {
    grid-area: pic;
    align-self: center;
    width: 107.4%;
    margin-left: -8%;
  }

  &__banner-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
