
.how-we-work {
  text-align: center;
  margin-bottom: 100px;

  &__container {
    @include margin-lateral-1920;
  }

  &__title {
    @include h1-h2-font;
    margin-bottom: clamp(40px, 4.6vw, 60px);
    color: $main-font-color;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-image: url("../images/how-we-work/how-we-work-girl.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 220px; 
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    left: -110px;
    top: -25px;
  }

  &__text-wrapper {
    position: relative;
    align-items: start;
    padding: 20px 40px;

    &--top {
      grid-column: 1 / span 2;
      justify-self: center;
      width: 35vw;

      &::before {
        content: '';
        position: absolute;
        top: 53px;
        left: 10px;
        transform: translateY(-50%);
        width: 120px;
        height: 120px;
        background-image: url('../images/dots-square.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }

    &--top-left {
      grid-row: 2;
      width: 20vw;
      justify-self: start;

      &::before {
        content: '';
        position: absolute;
        top: 53px;
        left: 10px;
        transform: translateY(-50%);
        width: 125px;
        height: 125px;
        background-image: url('../images/dots-square.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }

    &--top-right {
      grid-row: 2;
      width: 25vw;
      justify-self: end;

      &::before {
        content: '';
        position: absolute;
        top:52px;
        right: 20px;
        transform: translateY(-50%);
        width: 125px;
        height: 125px;
        background-image: url('../images/dots-square.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }

    &--bottom-left {
      grid-row: 3;
      width: 33vw;
      justify-self: start;

      &::before {
        content: '';
        position: absolute;
        top: 67px;
        left: 10px;
        transform: translateY(-50%);
        width: 140px;
        height: 140px;
        background-image: url('../images/dots-square.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }

    &--bottom-right {
      grid-row: 3;
      width: 35vw;
      justify-self: end;

      &::before {
        content: '';
        position: absolute;
        top: 67px;
        right: 10px;
        transform: translateY(-50%);
        width: 140px;
        height: 140px;
        background-image: url('../images/dots-square.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
      }
    }
  }

  &__text {
    @include text-18px-font;
    background-color: #fff;
    padding: 10px;
    color: #263238;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
    z-index: 2; 
  }

  &__button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .how-we-work {

    &__container {
      @include margin-lateral-1440;
    }

    &__content {
      margin-bottom: clamp(270px, 18vh, 300px);
    }

    &__info {
      grid-template-columns: 1fr; 
      grid-template-rows: repeat(5, auto); 
      justify-items: center; 
      row-gap: clamp(10px, 0.1vw, 15px);
      column-gap: 0; 
      position: relative;
      top: -40px;
      left: 0;
      padding: 0 10px; 
      min-height: 300px;
    }

    &__text-wrapper {

      width: 100%;
      justify-self: center;

      // Используем цикл для задания grid-row и других свойств
      @for $i from 1 through 5 {
        &--#{if($i == 1, 'top', if($i == 2, 'top-left', if($i == 3, 'top-right', if($i == 4, 'bottom-left', 'bottom-right'))))} {
          grid-row: #{$i};

          @if $i == 1 {
            margin-bottom: calc(30% + 5vw);
          }
        }
      }

      &--top::before, 
      &--top-left::before,
      &--top-right::before,
      &--bottom-left::before,
      &--bottom-right::before {
        top: 50%;
        right: 17px;
        width: 120px;
        height: 120px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .how-we-work {

    &__container {
      @include margin-lateral-1024;
    }

    &__content {
      margin-bottom: clamp(300px, 18vh, 320px);
    }

    &__info {
      row-gap: clamp(20px, 0.1vw, 5px);
    }

    &__text-wrapper {

      padding: 10px 20px;

      &--top::before,
      &--top-left::before {
        width: 100px;
        height: 100px;
        left: 5px;
      }

      &--top-right::before {
        width: 100px;
        height: 100px;
        right: 5px;
      }

      &--bottom-left::before {
        width: 125px;
        height: 125px;
        left: 5px;
      }

      &--bottom-right::before {
        width: 125px;
        height: 125px;
        right: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .how-we-work {

    &__container {
      margin: 0;
    }

    &__title {
      margin-bottom: clamp(70px, 4.6vw, 60px);
    }

    &__content {
      margin-bottom: clamp(350px, 18vh, 370px);
    }

    &__info {
      padding: 0 20px;
      row-gap: clamp(10px, 0.1vw, 5px);
    }

    &__text-wrapper {
      padding: 10px 10px;

      &--top::before,
      &--top-left::before {
        width: 100px;
        height: 100px;
        left: -2px;
      }

      &--top-right::before {
        width: 100px;
        height: 100px;
        right: -2px;
      }

      &--bottom-left::before {
        left: -2px;
      }

      &--bottom-right::before {
        right: -2px;
      }
    }

    &__text {
      padding: 10px 40px;
    }
  }
}

@media screen and (max-width: 440px) {
  .how-we-work {

    &__title {
      margin-bottom: clamp(80px, 4.6vw, 60px);
      font-size: 32px;
    }

    &__content {
      margin-bottom: clamp(390px, 18vh, 410px);
    }

    &__info {
      top: -45px;
      row-gap: clamp(0px, 0.1vw, 5px);
    }

    &__text-wrapper {

      &--top::before {
        width: 120px;
        height: 120px;
        left: -3px;
      }

      &--top-left::before {
        left: -3px;
      }

      &--top-right::before {
        right: -3px;
      }

      &--bottom-left::before {
        width: 140px;
        height: 140px;
        left: -3px;
      }

      &--bottom-right::before {
        width: 140px;
        height: 140px;
        right: -3px;
      }
    }

    &__text {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 360px) {
  .how-we-work {
    &__content {
      margin-bottom: clamp(480px, 18vh, 490px);
    }

    &__info {
      padding: 0 10px;
    }

    &__text-wrapper {

      &--top-right::before {
        width: 110px;
        height: 110px;
        right: -3px;
      }

      &--bottom-left::before {
        width: 155px;
        height: 155px;
      }

      &--bottom-right::before {
        width: 175px;
        height: 175px;
      }
    }
  }
}