// mixins

// общий миксин для шрифта с font-weight:600
@mixin font-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
}

// общий миксин для шрифта с font-weight:500
@mixin font-500 {
  @include font-600;
  font-weight: 500;
}

// миксин для шрифта заголовков 1ого и 2ого уровней
@mixin h1-h2-font {
  @include font-600;
  font-size: 42px;
}

// миксин для шрифта заголовков 3его уровня
@mixin h3-font {
  @include font-600;
  font-size: 24px;
}

// отдельный миксин для шрифта в навигации в шапке
@mixin header-nav-font {
  color: $main-font-color;
  font-size: 11px;
  @include font-600;
  letter-spacing: 2.75px;
}

// миксин для шрифта 18px
@mixin text-18px-font {
  @include font-500;
  font-size: 18px;
}

// Миксин для контейнера пагинации
@mixin pagination-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}

// Миксин для основного блока пагинации
@mixin pagination {
  @include text-18px-font;
  display: grid;
  grid-auto-flow: column;
  gap: $pagination-gap;
  align-items: center;
}

// Миксин для номера страницы
@mixin page-number {
  color: $main-font-color;
}

// Миксин для общего количества страниц
@mixin total-pages {
  color: #868889;
}

// Миксин для кнопок управления
// @mixin pagination-control {
//   width: 43px;
//   height: 43px;
//   border: 2px solid #fff;
//   border-radius: 50%;
//   display: grid;
//   place-items: center;
//   background-color: #fff;
//   box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
//   cursor: pointer;
//   transition: all 0.3s ease;
//   position: relative;

//   &:hover {
//     background-color: $hover-bg-color;
//     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
//   }

//   img {
//     position: absolute;
//     width: 48px;
//     height: 24px;
//     color: $accent-orange;

//     &.pagination__arrow-left {
//       left: -16px;
//     }
//     &.pagination__arrow-right {
//       right: -16px;
//     }
//   }
// }

// Миксин для кнопок управления с другим hover
@mixin pagination-control {
  width: 43px;
  height: 43px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #fff;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

    img {
      transform: scale(1) translateX(2px); 
      transition: transform 0.3s ease;
    }

    img.pagination__arrow-left {
      transform: scale(1) translateX(-2px); 
    }

    img.pagination__arrow-right {
      transform: scale(1) translateX(2px); 
    }
  }

  img {
    position: absolute;
    width: 48px;
    height: 24px;
    color: $accent-orange;
    transition: transform 0.3s ease;

    &.pagination__arrow-left {
      left: -16px;
    }
    &.pagination__arrow-right {
      right: -16px;
    }
  }
}


// Миксин для кнопки
@mixin button {
  background-color: $accent-blue;
  color: #ffffff;
  border: none;
  @include text-18px-font;
  border-radius: 2px;
  padding: 19px 9px;
  width: 310px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
  }
}
