.reviews {
  width: 74%;
  margin: 0 auto 5.2%;
  margin-bottom: 9.8%;

  &__title {
    padding: 0 57px 0;
    @include h1-h2-font;
    color: $main-font-color;
  }

  &__reviews-container {
    padding: 50px 4.2% 50px 3.9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-image: url(../images/reviews/dots.svg),
      url(../images/reviews/dots.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
  }

  &__review {
    padding: 0 20px 20px;
    border-radius: 2px;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    background-color: #fff;
  }

  &__review-title {
    @include h3-font;
    color: $main-font-color;
  }

  &__review-text,
  &__review-read-more {
    @include font-500;
    font-size: 18px;
  }

  &__review-text {
    color: #000;
  }

  &__review-read-more {
    color: $accent-blue;
  }

  &__review-author {
    @include font-500;
    font-size: 16px;
    color: #868889;
  }
}
