.reviews {
  @include margin-lateral-1920;
  margin-bottom: $marging-bottom;

  &__title {
    @include h1-h2-font;
    color: $main-font-color;
  }

  &__reviews-container {
    padding: 30px 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  // &__reviews-container::before {
  //   content: "";
  //   width: 120px;
  //   height: 120px;
  //   position: absolute;
  //   bottom: -35px;
  //   left: -55px;
  //   z-index: -1;
  //   background-image: url(../images/dots-square.svg);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  // &__reviews-container::after {
  //   content: "";
  //   width: 120px;
  //   height: 120px;
  //   position: absolute;
  //   top: -35px;
  //   right: -55px;
  //   z-index: -1;
  //   background-image: url(../images/dots-square.svg);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }

  &__review {
    padding: 20px 21px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 20px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  }

  &__review-title {
    @include h3-font;
    color: $main-font-color;
  }

  &__review-text,
  &__review-read-more {
    @include font-500;
    font-size: 18px;
    font-variant-numeric: lining-nums tabular-nums;
  }

  &__review-text {
    color: #000;
  }

  // Скрываем дополнительный текст по умолчанию
  &__review-text_hidden {
    display: none;
  }

  // Класс для показа дополнительного текста
  &__review_expanded &__review-text_hidden {
    display: block;
  }

  &__review-read-more {
    color: $accent-blue;
    line-height: normal;
  }

  &__review-author {
    @include font-500;
    font-size: 16px;
    color: #868889;
  }
}

@media screen and (max-width: 1440px) {
  .reviews {
    @include margin-lateral-1440;
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    @include margin-lateral-1024;
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    @include margin-lateral-768;

    &__reviews-container {
      grid-template-columns: 1fr;
    }

    &__review:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 440px) {
  .reviews {
    &__title {
      font-size: 32px;
    }

    &__review-title {
      font-size: 20px;
    }

    &__review-text,
    &__review-read-more {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 360px) {
  .reviews {
    @include margin-lateral-360;
  }
}
