.reviews {
  margin: 0 16% 5.2%;

  &__title {
    @include h1-h2-font;
    color: $main-font-color;
  }

  &__reviews-container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__review {
    padding: 20px 21px;
    position: relative;
    display: grid;
    grid-auto-rows: min-content;
    gap: 20px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  }

  &__review-title {
    @include h3-font;
    color: $main-font-color;
  }

  &__review-text,
  &__review-read-more {
    @include font-500;
    font-size: 18px;
    font-variant-numeric: lining-nums tabular-nums;
  }

  &__review-text {
    color: #000;
  }

  &__review-read-more {
    color: $accent-blue;
    line-height: normal;
  }

  &__review-author {
    @include font-500;
    font-size: 16px;
    color: #868889;
  }

  &__review-first_dots::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: 86%;
    right: 91%;
    z-index: -1;
    background-image: url(../images/reviews/dots.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__review-second_dots::after {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 86%;
    left: 91%;
    z-index: -1;
    background-image: url(../images/reviews/dots.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
