.schools {
  margin-top: 400px;
  margin-bottom: 100px;
  z-index: 0;

  &__container {
    max-width: 68%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 42px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
    width: 450px;
  }

  &__description {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 30px;
    max-width: 450px;
  }

  &__legend {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__legend__item {
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    color: #000;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 24px;
      height: 2px;
      border-radius: 100px;
      background-color: #F3B221;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__button {
    background-color: #2196F3;
    color: #ffffff;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    border-radius: 2px;
    padding: 19px 9px;
    width: 310px;
    height: 60px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

#map {
  width: 100%;
  height: 100%;
}
