.schools {
  padding: 20px 0;
  margin-bottom: 100px;

  &__container {
    max-width: 1300px; // Ограничение ширины для основной контентной части
    margin: 0 auto; // Центрирование контейнера
    padding: 0 20px; // Отступы по бокам для мобильных устройств
    display: flex;
    justify-content: space-between; // Разделение на две части: информация и карта
    align-items: center;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column; // Размещаем элементы вертикально
    margin-right: 10px; // Отступ между колонками
  }

  &__title {
    font-size: 42px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
    width: 450px;
  }

  &__description {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 30px;
    max-width: 450px;
  }

  &__legend {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступы между элементами легенды */
  }

  &__legend__item {
    position: relative;
    padding-left: 30px; /* Увеличен отступ для места под псевдоэлемент */
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    color: #000;
    display: flex; /* Устанавливаем flex, чтобы text и before были на одной линии */
    align-items: center; /* Центрируем текст по вертикали */


    &::before {
      content: '';
      width: 24px;
      height: 2px; /* Немного увеличим высоту, чтобы она стала заметнее */
      border-radius: 100px;
      background-color: #F3B221;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); /* Центрируем по вертикали относительно текста */
    }
  }

  &__button {
    background-color: #2196F3;
    color: #ffffff;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    border-radius: 2px;
    padding: 19px 9px;
    width: 310px;
    height: 60px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__map {
    position: relative;
    flex: 2;
    height: 560px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    .map__circle {
      position: absolute; // Абсолютное позиционирование для наложения поверх карты
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
