.header {
  width: 100%;
  .header__first-line,
  .header__second-line,
  .header__banner {
    width: 68%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
  }

  .header__first-line {
    padding: 20px 0 5px;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    gap: 55px;

    .header__nav1 > .header__nav1-list {
      display: grid;
      grid-template-columns: 9fr 9fr 1fr;
      gap: 10px;
      justify-items: end;

      li:first-child {
        justify-self: start;
      }

      .header__nav1-list-item > .header__nav1-list-item-link {
        @include header-nav-font;
      }
    }
    .icon-social {
      justify-self: end;
      display: flex;
      gap: 10px;

      .icon-social__item {
        .icon-social__item-link {
          display: block;
          width: 100%;
          height: auto;

          .icon-social__icon {
            margin: auto;
          }
        }
      }
    }
  }

  .header__second-line {
    // border: 1px solid black;
    padding: 20px 0;
    grid-template-columns: 1fr 1.5fr;

    .header__nav2 .header__nav2-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      justify-items: end;
      gap: 20px;

      .header__nav2-list-item .header__nav2-list-item-link {
        text-transform: uppercase;
        @include header-nav-font;
      }
    }
  }
}
