@import "mixins.scss";

h2 {
    @include h1-h2-font;
}
h3{
    @include h3-font;
}
.section_7{
    margin: 0 16%;
    height: 100vh;
}
.main{
    .section_7_items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
._items{
    li{
        display: grid;
        grid-template-columns: auto 1fr;
    }
}
.section_7_items_item_1,
.section_7_items_item_2,
.section_7_items_item_3 {
    max-width: 420px;
    height: 780px;
}