.social-media {
  margin-bottom: 9.8%;

  &__container {
    max-width: 68%;
    margin: 0 auto;
    text-align: left;
  }

  &__title {
    font-size: 42px;
    margin-bottom: 34px;
    color: $main-font-color;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 140%;
    white-space: nowrap;
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__icons {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }

  &__icon {
    cursor: pointer;
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #b0bec5;
    width: 460px;
  }

  &__slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100vw;
    max-width: 100%;
    padding: 0 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;

    &::before {
      content: "";
      flex: 0 0 calc(10%);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    flex: 0 0 auto;
    min-width: 310px;
    max-width: 310px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 20px;
    scroll-snap-align: start;
    margin-bottom: 50px;
  }

  &__slide-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  &__slide-title {
    font-size: 24px;
    color: #535353;
    font-weight: 300;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .social-media__slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 100%;

    &::before {
      display: none;
    }
  }

  .social-media__slide {
    width: 100%;
  }

  .social-media__slide:nth-of-type(1),
  .social-media__slide:nth-of-type(n+4) {
    display: none;
  }

  .social-media__title {
    white-space: nowrap;
  }

  .social-media__icons {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
