.social-media {
  margin-bottom: 100px;

  &__container {
    margin: 0 16%;
    text-align: left;
  }

  &__title {
    @include h1-h2-font;
    margin-bottom: 34px;
    color: $main-font-color;
    white-space: nowrap;
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__icons {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }

  &__icon {
    cursor: pointer;
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    @include font-500;
    font-size: 16px;
    color: #b0bec5;
    width: 460px;
  }

  &__slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100vw;
    padding: 0 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;

    &::before {
      content: "";
      flex: 0 0 calc(10%);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    flex: 0 0 auto;
    max-width: 310px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    scroll-snap-align: start;
    margin-bottom: 50px;
  }

  &__slide-image {
    width: 100%;
    height: 185px;
    margin-bottom: 40px;
  }

  &__slide-title {
    @include h3-font;
    color: #535353;
    font-weight: 300;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1440px) {
  .social-media {

    &__container {
      margin: 0 8%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .social-media {

    &__container {
      margin: 0 5%;
    }
  }
}

@media screen and (max-width: 768px) {

  .social-media {

    &__container {
      margin: 0 20px;
    }

    &__description {
      white-space: normal;
      width: 100%; 
      max-width: 100%; 
    }

    &__slider {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      width: 100%;
      max-width: 100%;
  
      &::before {
        display: none;
      }
    }
  
    &__slide {
      max-width: 354px;
      padding: 0;
    }

    &__slide-image {
      height: auto;
    }
  
    &__slide:nth-of-type(1),
    &__slide:nth-of-type(n+4) {
      display: none;
    }
  }
}

@media screen and (max-width: 440px) {
  .social-media {

    &__container {
      margin: 0 20px;
    }

    &__title {
      font-size: 32px;
      white-space: normal;
      margin-bottom: 40px;
    }

    &__content {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-bottom: 20px;
    }

    &__icons {
      gap: 20px;
    }

    &__description {
      font-size: 16px;
      white-space: normal;
      width: 100%; 
      max-width: 100%; 
    }

    &__slider {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__slide {
      max-width: 400px;
    }
  
    &__slide:not(:nth-of-type(2)) {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .social-media {

    &__container {
      margin: 0 10px;
    }

    &__slide {
      max-width: 340px;
    }
  }
}

