.container {
  width: 74%;
  margin: 0 16%;
  margin-bottom: 9.8%;
}

.section-title {
  padding: 0 58px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 42px;
  color: rgb(38, 50, 56);
}

.experts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}