.experts {
  margin: 0% 16% 9.8%;
}

.experts__title {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 42px;
  color: rgb(38, 50, 56);
}

.experts__card-first {
  margin-bottom: 76px;
  display: grid;
  grid-template-columns: 0.98fr 1.02fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img subtitle"
    "img text"
    "img quote";
  gap: 40px 0px;
}

.experts__card-first::before {
  content: "";
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -56.8%;
  right: 12.8%;
  z-index: -1;
  background-image: url(../images/reviews/dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.experts__img-container {
  grid-area: img;
}

.experts__subtitle-container {
  /* padding-top: 23px;
  padding-bottom: 23px; */
  grid-area: subtitle;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 24px;
  background-color: #f1f8ff;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.experts__subtitle {
  margin-left: 60px;
}

.experts__text {
  margin-left: 60px;
  margin-right: 10.4%;
  grid-area: text;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 20px;
}

.experts__quote-container {
  position: relative;
  margin-left: 60px;
  width: 85%;
  grid-area: quote;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  font-size: 18px;
  background: #fff;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.experts__quote-container::before {
  content: "";
  width: 32px;
  height: 25px;
  position: absolute;
  bottom: 95%;
  right: 96.5%;
  background-image: url("../images/section4_pic/quotes-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}
.experts__quote {
  padding: 20px;
}

.experts__quote-container::after {
  content: "";
  width: 32px;
  height: 25px;
  position: absolute;
  top: 92%;
  left: 97%;
  background-image: url("../images/section4_pic/quotes-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}

.experts__card-second {
  margin-bottom: 76px;
  display: grid;
  grid-template-columns: 1.02fr 0.98fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "subtitle img"
    "text img"
    "quote img";
  gap: 40px 0px;
}

.experts__subtitle-second {
  padding-left: 25px;
}

.experts__text-second {
  margin-right: 15.4%;
  grid-area: text;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 20px;
}

.experts__quote-container-second {
  position: relative;
  margin-right: 10.3%;
  margin-bottom: 11.7%;
  width: 85%;
  grid-area: quote;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  font-size: 18px;
  background: #fff;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
/* .expert-card-second {
  grid-area: expert-second;
} */
