// import vars and mixins
@import "vars.scss";
@import "mixins.scss";

// import all style files
@import "header.scss";
@import "_section_1.scss";
@import "_section_2.scss";
@import "section_3.scss";
@import "section_4.scss";
@import "section_5.scss";
@import "section_6.scss";
@import "section_7.scss";
@import "_section_8.scss";
@import "section_9.scss";
@import "section_10.scss";
@import "section_11.scss";
@import "section_12.scss";
@import "footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}
