* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-weight: 500;
  font-size: 18px;
  border-radius: 2px;
  padding: 19px 9px;
  width: 310px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #0056b3;
}

.pagination__container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}
.pagination__container .pagination__page-numbers {
  display: grid;
  grid-auto-flow: column;
  gap: 14px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-weight: 500;
  font-size: 18px;
  color: #263238;
}
.pagination__container .pagination__page-numbers .pagination__total-pages {
  color: #868889;
}
.pagination__container .pagination__control {
  width: 43px;
  height: 43px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #fff;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.pagination__container .pagination__control:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.pagination__container .pagination__control:hover img {
  transform: scale(1) translateX(2px);
  transition: transform 0.3s ease;
}
.pagination__container .pagination__control:hover img.pagination__arrow-left {
  transform: scale(1) translateX(-2px);
}
.pagination__container .pagination__control:hover img.pagination__arrow-right {
  transform: scale(1) translateX(2px);
}
.pagination__container .pagination__control img {
  position: absolute;
  width: 48px;
  height: 24px;
  color: #ffa726;
  transition: transform 0.3s ease;
}
.pagination__container .pagination__control img.pagination__arrow-left {
  left: -16px;
}
.pagination__container .pagination__control img.pagination__arrow-right {
  right: -16px;
}

.header {
  width: 100%;
}
.header__first-line, .header__second-line, .header__banner {
  width: 71%;
  margin: 0 16.2% 0 13.8%;
  display: grid;
}
.header__first-line {
  padding: 20px 0 5px 3%;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  gap: 55px;
}
.header__nav1-list {
  display: grid;
  grid-template-columns: 9fr 9fr 1fr;
  gap: 10px;
  justify-items: end;
}
.header__nav1-list li:first-child {
  justify-self: start;
}
.header__nav1-list-item-link {
  color: #263238;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 2.75px;
}
.header .icon-social {
  justify-self: end;
  display: flex;
  gap: 10px;
}
.header .icon-social__item-link {
  display: block;
  width: 100%;
  height: auto;
}
.header .icon-social__icon {
  margin: auto;
}
.header__second-line {
  margin-bottom: 40px;
  padding: 20px 0 0 3%;
  grid-template-columns: 1fr minmax(600px, 1.5fr);
}
.header__nav2-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: end;
  gap: 10px;
}
.header__nav2-list-item-link {
  text-transform: uppercase;
  color: #263238;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 2.75px;
}
.header__banner {
  margin-bottom: 5.2%;
  padding-left: 3%;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1.7fr 1.3fr;
  grid-template-areas: "title pic" "text pic" "button pic";
  gap: 10px 10px;
  background-image: url(../images/header-pics/dots.svg);
  background-repeat: no-repeat;
}
.header__banner-title {
  grid-area: title;
  align-self: end;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 42px;
}
.header__banner-title_orange-italics {
  color: #ffa726;
  font-style: italic;
  font-weight: 800;
}
.header__banner-text {
  grid-area: text;
  width: 70%;
  align-self: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  color: #263238;
}
.header__banner-btn {
  grid-area: button;
  position: relative;
}
.header__banner-btn::before {
  content: url("../images/header-pics/flags.svg");
  position: absolute;
  right: -45%;
  max-width: 120px;
}
.header__banner-img-container {
  grid-area: pic;
  align-self: center;
  width: 107.4%;
  margin-left: -8%;
}
.header__banner-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.how-we-work {
  text-align: center;
  margin-bottom: 9.8%;
}
.how-we-work__container {
  max-width: 68%;
  margin: 0 auto;
}
.how-we-work__title {
  font-size: 42px;
  margin-bottom: 4.6vw;
  color: #263238;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
}
.how-we-work__content {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2.6%;
  width: 100%;
  padding-top: 56.25%;
  background-image: url("../images/how-we-work/how-we-work-girl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.how-we-work__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.how-we-work__text {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  color: #263238;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  max-width: 90%;
  width: auto;
  z-index: 1;
}
.how-we-work__text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6.51vw;
  height: 6.51vw;
  background-image: url("../images/how-we-work/how-we-work-dots-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
  left: -20px;
}
.how-we-work__text--top-right::before, .how-we-work__text--bottom-right::before {
  left: auto;
  right: -20px;
  background-image: url("../images/how-we-work/how-we-work-dots-right.svg");
}
.how-we-work__text--bottom-right::before, .how-we-work__text--bottom-left::before {
  width: 7vw;
  height: 7vw;
}
.how-we-work__text--top {
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  width: 31vw;
}
.how-we-work__text--top-right {
  top: 26%;
  right: -2%;
  width: 21vw;
}
.how-we-work__text--top-left {
  top: 26%;
  left: -2%;
  width: 16vw;
}
.how-we-work__text--bottom-left {
  bottom: 27%;
  left: -2%;
  width: 29vw;
}
.how-we-work__text--bottom-right {
  bottom: 27%;
  right: -2%;
  width: 31vw;
}
.how-we-work__button {
  margin: 0 auto;
}

.reviews {
  width: 74%;
  margin: 0 auto 5.2%;
  margin-bottom: 9.8%;
}
.reviews__title {
  padding: 0 57px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 42px;
  color: #263238;
}
.reviews__reviews-container {
  padding: 50px 4.2% 50px 3.9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-image: url(../images/reviews/dots.svg), url(../images/reviews/dots.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}
.reviews__review {
  padding: 0 20px 20px;
  border-radius: 2px;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  background-color: #fff;
}
.reviews__review-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 24px;
  color: #263238;
}
.reviews__review-text, .reviews__review-read-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-weight: 500;
  font-size: 18px;
}
.reviews__review-text {
  color: #000;
}
.reviews__review-read-more {
  color: #2196f3;
}
.reviews__review-author {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-weight: 500;
  font-size: 16px;
  color: #868889;
}

.schools {
  margin-bottom: 9.8%;
  z-index: 0;
}
.schools__container {
  padding: 20px 0;
  margin-left: 16%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: stretch;
}
.schools__info {
  display: grid;
  grid-template-rows: repeat(4, auto);
  position: relative;
  z-index: 1;
}
.schools__info ::before {
  content: "";
  position: absolute;
  top: -2.6vw;
  left: -2.6vw;
  right: -2.6vw;
  bottom: -2.6vw;
  background-image: url("../images/map/map-dots.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}
.schools__title {
  font-size: 42px;
  color: #263238;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 40px;
}
.schools__description {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #000;
  margin-bottom: 30px;
}
.schools__legend {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.schools__legend__item {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
}
.schools__legend__item::before {
  content: "";
  width: 24px;
  height: 2px;
  border-radius: 100px;
  background-color: #ffa726;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.schools__map-wrapper {
  display: grid;
  align-items: stretch;
}
.schools #map {
  width: 100%;
  height: 100%;
}

.social-media {
  margin-bottom: 9.8%;
}
.social-media__container {
  max-width: 68%;
  margin: 0 auto;
  text-align: left;
}
.social-media__title {
  font-size: 42px;
  margin-bottom: 34px;
  color: #263238;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
}
.social-media__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.social-media__icons {
  display: flex;
  gap: 20px;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.social-media__icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.social-media__icon img {
  width: 100%;
  height: 100%;
}
.social-media__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #b0bec5;
  width: 42%;
}
.social-media__slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  width: 100vw;
  max-width: 100%;
  padding: 0 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
}
.social-media__slider::before {
  content: "";
  flex: 0 0 10%;
}
.social-media__slider::-webkit-scrollbar {
  display: none;
}
.social-media__slide {
  flex: 0 0 auto;
  min-width: 310px;
  max-width: 310px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 20px;
  scroll-snap-align: start;
  margin-bottom: 50px;
}
.social-media__slide-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.social-media__slide-title {
  font-size: 24px;
  color: #535353;
  font-weight: 300;
  margin: 0;
}/*# sourceMappingURL=main.css.map */