* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.header {
  width: 100%;
}
.header .header__first-line,
.header .header__second-line,
.header .header__banner {
  width: 68%;
  margin: 0 auto;
  display: grid;
}
.header .header__first-line {
  padding: 20px 0 5px;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  gap: 55px;
}
.header .header__first-line .header__nav1 > .header__nav1-list {
  display: grid;
  grid-template-columns: 9fr 9fr 1fr;
  gap: 10px;
  justify-items: end;
}
.header .header__first-line .header__nav1 > .header__nav1-list li:first-child {
  justify-self: start;
}
.header .header__first-line .header__nav1 > .header__nav1-list .header__nav1-list-item > .header__nav1-list-item-link {
  color: #263238;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 2.75px;
}
.header .header__first-line .icon-social {
  justify-self: end;
  display: flex;
  gap: 10px;
}
.header .header__first-line .icon-social .icon-social__item .icon-social__item-link {
  display: block;
  width: 100%;
  height: auto;
}
.header .header__first-line .icon-social .icon-social__item .icon-social__item-link .icon-social__icon {
  margin: auto;
}
.header .header__second-line {
  padding: 20px 0;
  grid-template-columns: 1fr minmax(600px, 1.5fr);
}
.header .header__second-line .header__nav2 .header__nav2-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-items: end;
  gap: 10px;
}
.header .header__second-line .header__nav2 .header__nav2-list .header__nav2-list-item .header__nav2-list-item-link {
  text-transform: uppercase;
  color: #263238;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 2.75px;
}
.header .header__banner::before {
  content: url("../header-pics/dots.svg");
  position: absolute;
  left: -5%;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}
.header .header__banner {
  position: relative;
  grid-template-rows: 2fr 0.5fr 1fr;
  grid-template-columns: 1.7fr 1.3fr;
  grid-template-areas: "title pic" "text pic" "button pic";
  gap: 40px 20px;
}
.header .header__banner .header__banner-title {
  grid-area: title;
  align-self: end;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 42px;
}
.header .header__banner .header__banner-title .header__banner-title_orange-italics {
  color: #ffa726;
  font-style: italic;
  font-weight: 800;
}
.header .header__banner .header__banner-text {
  grid-area: text;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  color: #263238;
}

.how-we-work {
  text-align: center;
  margin-bottom: 100px;
}
.how-we-work__container {
  max-width: 68%;
  margin: 0 auto;
}
.how-we-work__title {
  font-size: 42px;
  margin-bottom: 4.6vw;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
}
.how-we-work__content {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 56.25%;
  background-image: url("../img/how-we-work-girl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.how-we-work__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.how-we-work__text {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  color: #263238;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  max-width: 90%;
  width: auto;
}
.how-we-work__text--top {
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  width: 31vw;
}
.how-we-work__text--top-right {
  top: 26%;
  right: -2%;
  width: 21vw;
}
.how-we-work__text--top-left {
  top: 26%;
  left: -6%;
  width: 16vw;
}
.how-we-work__text--bottom-left {
  bottom: 27%;
  left: -6%;
  width: 29vw;
}
.how-we-work__text--bottom-right {
  bottom: 27%;
  right: -2%;
  width: 31vw;
}
.how-we-work__button {
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  border-radius: 2px;
  padding: 19px 9px;
  width: 310px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.how-we-work__button:hover {
  background-color: #0056b3;
}

.schools {
  margin-top: 200px;
  margin-bottom: 100px;
  z-index: 0;
}
.schools__container {
  max-width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schools__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.schools__title {
  font-size: 42px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 40px;
  width: 450px;
}
.schools__description {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #000;
  margin-bottom: 30px;
  max-width: 450px;
}
.schools__legend {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.schools__legend__item {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  color: #000;
  display: flex;
  align-items: center;
}
.schools__legend__item::before {
  content: "";
  width: 24px;
  height: 2px;
  border-radius: 100px;
  background-color: #F3B221;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.schools__button {
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  border-radius: 2px;
  padding: 19px 9px;
  width: 310px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.schools__button:hover {
  background-color: #0056b3;
}
.schools__map {
  position: relative;
  flex: 2;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */