// import vars and mixins
@import "vars.scss";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  li {
    list-style: none;
  }
}

// import all style files
@import "_header.scss";
@import "_section_2.scss";
@import "_section_3.scss";
@import "_section_4.scss";
@import "./how-we-work";
@import "_section_6.scss";
// @import "_section_7.scss";
@import "_section_8.scss";
@import "_section_9.scss";
@import "./schools-map";
@import "_section_11.scss";
@import "_section_12.scss";
