input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.order-consultation{
    width: 68%;
    margin: 0 auto;
    margin-bottom: 9.8%;
// первый див
    &__form{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    &__input{
        padding: 0 10px;
        margin: 10px 0;
        width: 420px;
        height: 65px;
        // border: none;
    }
    &__input--comments{
        padding: 0 10px;
        margin: 10px 0;
        width: 420px;
        height: 150px;
        // border: none;
        // после добавления бэкраунд
    }
    // второй див
    &__options{
        display: grid;
        align-content: space-between;
        margin: 10px 0;
    }
}
