@import "_mixins.scss";
@import "vars.scss";

// Убираем выбор цифр в форме
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.order-consultation{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 9.8%;
    background-color: $form-background;
    position: relative;
    z-index: -2;
    &::after{
        content: "";
        width: 120px;
        height: 120px;
        position: absolute;
        top: -60px;
        right: -60px;
        z-index: 1;
        background-image: url(../../images/section4_pic/dots.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__form-container{
        width: 100%;
        padding: 100px 125px;
    }
    &__heading{
        @include h1-h2-font;
        color: $main-font-color;
    }
// forma
    &__form{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 2fr;
        column-gap: 5%;
        position: relative;
        &::before{
            content: "";
            width: 120px;
            height: 120px;
            position: absolute;
            bottom: -60px;
            left: -60px;
            z-index: -1;
            background-image: url(../../images/section4_pic/dots.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__input{
        padding: 19px 9px 19px 20px; /* верхний, правый, нижний, левый */
        margin: 10px 0;
        width: 420px;
        height: 65px;
        border: none;
        @include text-18px-font;
        cursor: pointer;
    }
    &__input--comments{
        padding: 0 10px;
        margin: 10px 0;
        width: 420px;
        height: 150px;
        border: none;
        cursor: pointer;
        
        &::placeholder{
            position: relative;
            top: -40px;
            left: 10px;
        }
    }
    // __options
    &__options{
        display: grid;
        align-content: space-between;
        margin: 10px 0;
    }
    &__options-text{
        @include font-500;
        font-size: 1rem;
        color: #6F8793;
    }
    &__radio-group{
        padding-top: 10px;
    }
    &__radio-label{
        @include font-600;
        font-size: 1.25rem;
    }
    &__button{
        width: 420px;
        height: 70px;
        @include font-500;
        font-size: 1.25rem;
    }
}

// радио кнопки
.order-consultation__radio-group{
    .custom-radio {
        display: inline-block;
        position: relative;
        width: 28px; 
        height: 28px; 
        border: 1px solid #B0BEC5;
        border-radius: 50%; 
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
        // внутренний кружок
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 72%; 
            height: 72%; 
            background-color: transparent;
            border-radius: 50%;
        }
    }
}

/* Скрываем оригинальные радиокнопки */
input[type="radio"] {
    display: none; 
}
/* стиль для checked */
input[type="radio"]:checked + .custom-radio::after {
  background-color: #f5a623; 
}
/* цвет границы при выборе */
input[type="radio"]:checked + .custom-radio {
    border: 1px solid #f5a623; 
}

