.pluses {
    margin: 0% 16% 100px;
  }

.pluses__title {
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    font-size: 42px;
    color: rgb(38, 50, 56);
  }

.pluses__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 53px 20px;
}


.with-dots-before::before {
    bottom: -35px;
    left: -55px;
  }
  
/* .pluses__container::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: -60px;
    z-index: -1;
    background-image: url(../images/dots-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
  } 

.pluses__container::after {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: -1;
    background-image: url(../images/dots-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
  } */

.pluses__plus {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.pluses__subtitle-text_border {
    margin-top: -70px;
    padding: 50px 20px 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  }

.pluses__plus-first {
    padding-bottom: 20px;
}

.pluses__plus-second {
    padding-bottom: 48px;
}

.pluses__plus-third {
    padding-bottom: 92px;
}

.pluses__plus-fourth {
    padding-bottom: 114px;
}

.pluses__subtitle {
    padding: 10px 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    font-size: 20px;
    color: rgb(38, 50, 56);
}

.pluses__text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    font-size: 16px;
    color: rgb(144, 164, 174);
}