.pluses {
    margin: 0% 16% 100px;
  }

.pluses__title {
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    font-size: 42px;
    color: rgb(38, 50, 56);
  }

.pluses__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-items: center;
    gap: 53px 20px;
}

.pluses__container::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: -60px;
    z-index: -1;
    background-image: url(../images/dots-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
  } 

.with-dots-after::after {
    top: -35px;
    right: -55px;
}

.pluses__plus {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.pluses__subtitle-text_border {
    margin-top: -70px;
    padding: 50px 20px 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.05);
  }

.pluses__image-container {
    padding-bottom: 10px;
    padding-left: 20px;
    z-index: 2;
  }

.pluses__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    font-size: 20px;
    color: rgb(38, 50, 56);
}

.pluses__text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    font-size: 16px;
    color: rgb(144, 164, 174);
}

@media screen and (max-width: 1911px) and (min-width: 1440px) {
  .pluses {
    .pluses__container {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
  }
}
  
@media screen and (max-width: 1440px) {
  .pluses {
    margin-left: 8%;
    margin-right: 8%;
    .pluses__container {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
}
  
@media screen and (max-width: 1024px) {
  .pluses {
    margin-left: 5%;
    margin-right: 5%;
    .pluses__container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
  
@media screen and (max-width: 768px) {
  .pluses {
    margin-left: 20px;
    margin-right: 20px;
  }
}
  
@media screen and (max-width: 360px) {
  .pluses {
    margin-left: 10px;
    margin-right: 10px;
  }
}